.form-section {
  width: 100%;
  height: 100vh;
  margin-top: 10rem;
}

.form-section img {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(0.1rem) brightness(0.5);
  z-index: -1;
}

.form-container {
  max-width: 120rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.form-container h2 {
  color: var(--gray-50);
  font-size: 3.5rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--gray-800);
  max-width: 55rem;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  transition: all .5s ease;
}

.form-container form input {
  background-color: var(--gray-50);
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

.form-container form input:focus {
  box-shadow: 0rem 0rem 2rem var(--pink-shadow);
}

.name-container {
  display: flex;
  gap: 2rem;
}

.input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 1.6rem;
  color: var(--gray-400);
}

.form-container form button {
  max-width: 15rem;
  height: 4rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--pink-500);
  color: var(--gray-50);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: filter .2s;
}

.form-container form button:hover {
  filter: brightness(0.8);
}

@media (max-width: 600px) {
  .form-container h2 {
    font-size: 3rem;
  }
}

@media (max-width: 510px) {
  .form-container h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 440px) {
  .form-container h2 {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .name-container {
    flex-direction: column;
  }
}
